body {
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

#main {
    width: 85%;
    height: 100%;
    margin:auto;
}

#navbar { 
    width:15%;
    background-color:lightgreen;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
}

#navbar > div:first-child > h1 {
    text-align:center
}

#main { 
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left:40px;
}

.form-field {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom:15px;
}

.form-field > label {
    height:100%;
    width: 100px;
}

.state {
    height: 30px;
    width:100%;
    background-color:lightsalmon;
    border-bottom: 1px dashed black;
    text-align:center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.state > p {
    line-height: 30px;
}

.state:hover {
    transition: 0.1s;
    transform: scale(1.1);
    cursor: pointer;
}