html {
    width: 200px;

}

body {
    width:200px;
    max-height:300px;
    margin:0px;
    border:0px;
    padding:0px;
    display:flex;
    flex-direction:column;
    flex-shrink: 1;
    min-height:0px;
    overflow-x: hidden;
}

#states {
    display:flex;
    flex-direction:column;
}

.stateButton {
    width:100%;
    height:30px;
    text-align:center;
    display:flex;
    justify-content: row;
}

.title {
    width:100%;
    height:100%;
    border-right:1px solid black;
}

.delete-title {
    width:85%;
    height:100%;
    border-right:1px solid black;
}

/* .edit-state {
    width:30%;
    height:100%;
} */

.stateButton:nth-child(n+2) {
    border-top:1px black solid;
}

p {
    line-height:30px;
    width:100%;
    margin:auto;
}

.deleteButton {
    width:15%;
    line-height: 30px;;
    height:100%;
    background-color:red;
}

#options {
    height:60px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

#change-states {
    height: 30px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
}

#add-state { 
    width:50%;
    background-color:greenyellow;
    text-align:center;
}

#delete-state-toggle {
    width:50%;
    background-color:red;
    text-align:center;
}

#edit {
    width:100%;
    height:30px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:lightskyblue;
    text-align:center;
}

#edit > h3, #save > h3 {
    line-height:30px;
    margin:0px;
    font-weight:200;
}

#save {
    width:100%;
    height:30px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    background-color: #BB86FC;
    text-align:center;
}

.title:hover, .edit-state:hover, #add-state:hover, #delete-state-toggle:hover, .deleteButton:hover, .delete-title:hover, #edit:hover, #save:hover {
    transition:0.1s;
    transform:scale(1.1);
    cursor:pointer;
}
