html {
    max-width: 300px;
    min-width: 200px;
}

.hero {
    height: 53px;
}

.hero-body {
    padding-top: 13px;
    padding-bottom: 13px;
}

.section {
    padding: 0rem 1.5rem;
}

#states > .container, #options > .container {
    margin-bottom: 0rem;
    padding-bottom:0.25rem;
}

.delete {
    border-radius: 4px;
}

button {
    cursor:pointer;
}

.level.is-mobile > button.level-item.is-primary {
    margin-right:0px;
}

button.delete.is-large {
    width:36px;
    height:36px;
    max-width:36px;
    max-height:36px;
    margin-left:3px
}

#add-state {
    margin-right:3px;
}